/* DEFAULT COLORS */

$blue: #0079ff;
$light-blue: #60abff;
$white: #fff;
$red: #f74646;

/* LIGHT MODE COLORS */

$lm-black: #222731;
$lm-grayish-blue: #697c9a;
$lm-desaturated-blue: #4b6a9b;
$lm-dark-blue: #2b3442;
$lm-light-gray: #f6f8ff;
$lm-white: #fefefe;

/* DARK MODE COLORS*/

$dm-dark-blue: #1e2a47;
$dm-navy-blue: #141d2f;

/* BOX SHADOW */

$box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

/* TRANSITION */

$transition-hover: all 150ms ease;
