.result {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  &__profile {
    display: flex;
    align-items: center;
    gap: 1.25em;
    margin-bottom: 0.5em;
  }
  &__avatar {
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 50%;
  }
  &__bio {
    overflow: auto;
    &--small {
      display: block;
    }
    &--large {
      display: none;
    }
  }
  &__stats {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5.3125rem;
    border-radius: 0.5rem;
  }
  &__stats-item {
    width: 100%;
    display: grid;
    place-items: center;
  }
  &__links {
    list-style-type: none;
    display: grid;
    gap: 0.75em;
  }
  &__links-item {
    display: grid;
    grid-template-columns: 2em 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 37.5rem) {
  .result {
    padding: 2.5rem;
    gap: 2rem;
    &__profile {
      gap: 2.5em;
    }
    &__avatar {
      height: 7.3125rem;
      width: 7.3125rem;
    }
    &__stats {
      margin-top: 0.5rem;
      padding-inline: 2rem;
    }
    &__stats-item {
      width: 100%;
      display: grid;
      place-items: start;
    }
    &__links {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: 1fr 1fr;
      row-gap: 1.25rem;
    }
  }
}

@media screen and (min-width: 75rem) {
  .result {
    &__profile-details {
      align-self: flex-start;
      width: 100%;
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: min-content min-content min-content;
    }
    &__name {
      margin: 0;
      margin-bottom: 1.25rem;
    }
    &__login {
      grid-column: 1/-1;
      grid-row: 2;
    }
    &__joined {
      grid-column: 2/3;
      text-align: right;
    }
    &__bio {
      &--small {
        display: none;
      }
      &--large {
        display: block;
      }
    }

    &__description,
    &__stats,
    &__links {
      margin-left: 8.3125rem;
    }
  }
}
